@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Diseño.css" />
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Este es un sistema gestor de gastos</p>
</div>
