@{
    Layout = null; // Esto evita usar el diseño predeterminado.
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <h2>Iniciar Sesión</h2>

    <form method="post" asp-action="Login">
        <div>
            <label for="NombreUsuario">Nombre de Usuario:</label>
            <input type="text" id="NombreUsuario" name="NombreUsuario" required />
        </div>
        <div>
            <label for="Contrasena">Contraseña:</label>
            <input type="password" id="Contrasena" name="Contrasena" required />
        </div>
        <div>
            <input type="submit" value="Iniciar Sesión" />
        </div>
    </form>

    <div>
        <a href="@Url.Action("Registro", "Home")"><button type="button">Registrarse</button></a>
    </div>
</body>
</html>
