@model Proyecto_final.Models.Cuenta
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<link rel="stylesheet" href="~/css/Diseño.css" />

@{
    ViewData["Title"] = "Create";
    bool isAdmin = (string)HttpContextAccessor.HttpContext.Session.GetString("admin") == "True";
    int loggedUserId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId") ?? 0;
}

<h1>Create</h1>

<h4>Cuenta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (isAdmin)
            {
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                </div>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" value="@loggedUserId" readonly />
                </div>
            }

            <div class="form-group">
                <label asp-for="NombreCuenta" class="control-label"></label>
                <input asp-for="NombreCuenta" class="form-control" />
                <span asp-validation-for="NombreCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
